body {
    font-family: Muli, sans-serif;
    background: #f2f2f2;
}

.box {
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    border-radius: 13px;
    background: #f2f2f2;
    box-shadow: 20px 20px 34px #cecece, -20px -20px 34px #ffffff;
}

div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

input,
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    ;
}

textarea {
    height: 150px;
}

#subject * {
    font-size: 15px;
}

label {
    text-transform: capitalize;
}

.button {
    background-color: #38393aef;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #494c4f;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.center {
    text-align: center;
}

form {
    border-top: 1px solid #ccc;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 85%;
    }
}